## Geração dos Arquivo JSON para a visualização web
### por Glauco Azevedo
#### FGV/EMAp - Curso de Visualisação de Informação - profa.: Asla Sá

A necessidade de se processarem arquivos JSON se deu pela falta de tempo se implementar um a applicação backend(lado servidor,fora do navegado) que lidaria com o banco de dados, trazendo as informações em tempo real.

Foram feitas inúmeras tentativas de se pré-processar os dados de uma forma mais otimizada(para a execução e interação do usuário). Ao final, se obtiveram dois arquivos com informações hierarquizadas.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+mysqlconnector://azbr:0000@localhost:3306/eleicoes_vagas')
conn = engine.connect()

In [4]:
result = conn.execute("SELECT * FROM eleicoes.gera_json_prefeitos t1 ")

In [5]:
col_names = result.keys
vagas = pd.DataFrame(result.fetchall())

In [10]:
vagas.columns = col_names()
vagas.columns

Index(['ANO', 'NOME_MUNICIPIO', 'CODIGO_CARGO', 'SIGLA_PARTIDO',
       'ID_ORIENTACAO', 'CONT'],
      dtype='object')

In [11]:
vagas.head()

    ANO     NOME_MUNICIPIO CODIGO_CARGO SIGLA_PARTIDO  ID_ORIENTACAO  CONT
0  2004     ANGRA DOS REIS           11          PMDB              4     1
1  2004            APERIBE           11            PL              5     1
2  2004           ARARUAMA           11           PPS              3     1
3  2004              AREAL           11            PP              5     1
4  2004  ARMACAO DE BUZIOS           11          PMDB              4     1

In [20]:
vagas[ (vagas.NOME_MUNICIPIO == 'RIO DE JANEIRO') & (vagas.ANO == '2016') ]

      ANO  NOME_MUNICIPIO CODIGO_CARGO SIGLA_PARTIDO  ID_ORIENTACAO  CONT
342  2016  RIO DE JANEIRO           11           PRB              5     1

In [26]:
ls

Criando_JSONs.ipynb           README.md          Visualizacao_Basica.ipynb
datasets/                     results/
obtencao_selecao_dados.ipynb  Test_Plotly.ipynb

In [27]:
vagas.to_json("results/prefeitos.json",orient='records')

Agora, repetindo o processo para os vereadores

In [28]:
result2 = conn.execute("SELECT * FROM eleicoes.gera_json_vereadores t1 ")
col_names = result2.keys
vagas2 = pd.DataFrame(result2.fetchall())

In [29]:
vagas2.columns = col_names()
vagas2.columns

Index(['ANO', 'NOME_MUNICIPIO', 'CODIGO_CARGO', 'SIGLA_PARTIDO',
       'ID_ORIENTACAO', 'CONT'],
      dtype='object')

In [30]:
vagas2.head()

    ANO  NOME_MUNICIPIO CODIGO_CARGO SIGLA_PARTIDO  ID_ORIENTACAO  CONT
0  2004  ANGRA DOS REIS           13       PC do B              2     1
1  2004  ANGRA DOS REIS           13           PFL              6     1
2  2004  ANGRA DOS REIS           13            PL              5     2
3  2004  ANGRA DOS REIS           13          PMDB              4     2
4  2004  ANGRA DOS REIS           13            PP              5     1

In [33]:
vagas2.size

15666

In [34]:
vagas2.to_json("results/vereadores.json",orient='records')

In [35]:
# Encerrando a conexão com o BD
conn.close()

#### Modificando JSON para mudar a forma de busca na página

In [259]:
prefeitos = pd.read_json("results/prefeitos.json")

In [260]:
prefeitos = prefeitos.drop(['CODIGO_CARGO','CONT'],axis=1);
prefeitos.head(10)

    ANO  ID_ORIENTACAO      NOME_MUNICIPIO SIGLA_PARTIDO
0  2004              4      ANGRA DOS REIS          PMDB
1  2004              5             APERIBE            PL
2  2004              3            ARARUAMA           PPS
3  2004              5               AREAL            PP
4  2004              4  ARMACAO DOS BUZIOS          PMDB
5  2004              3     ARRAIAL DO CABO           PDT
6  2004              3      BARRA DO PIRAI            PV
7  2004              4         BARRA MANSA          PMDB
8  2004              4        BELFORD ROXO          PMDB
9  2004              4          BOM JARDIM          PMDB

In [261]:
prefeitos.size/4

367.0

Como nenhum dos JSONs atuais foi eficiente na abordagem proposta, irei construir outra, de forma hierárquica, mantendo grupamentos por ANO e NOME_MUNICIPIO

In [6]:
from unicodedata import normalize
from pprint import pprint

def remover_acentos(txt):
    return normalize('NFKD', txt).encode('ASCII','ignore').decode('ASCII')

In [284]:
newJSON = {}
anos = [ str(ano) for ano in prefeitos.ANO.unique().tolist() ]
for ano in anos:
     newJSON[str(ano)] = {}
newJSON

{'2004': {}, '2008': {}, '2012': {}, '2016': {}}

In [274]:
lstcidades = []
prefeitos.NOME_MUNICIPIO = prefeitos.NOME_MUNICIPIO.map(remover_acentos).map(str.lower)
lstcidades = prefeitos.NOME_MUNICIPIO.unique().tolist()

cidades = dict(zip(list(range(3591,3683)),sorted(lstcidades)))

In [ ]:
for ano in anos:
    newJSON[ano] = cidades.copy()
    for id_cidade in newJSON[ano]:
        for row in prefeitos.itertuples():
            if( (str(row.ANO) == ano) and (row.NOME_MUNICIPIO.lower() == cidades[id_cidade] )):
                if(newJSON[ano][id_cidade] != {}):
                    newJSON[ano][id_cidade] = {'NOME': cidades[id_cidade],
                                               'SIGLA': row.SIGLA_PARTIDO,
                                               'ORIENTACAO':row.ID_ORIENTACAO}
                else:
                    print("Erro")

In [286]:
pd.DataFrame(newJSON).to_json("results/prefeitos1.json",orient="columns")

In [206]:
cp "results/prefeitos1.json" "../d3/prefeitos1.json"

In [214]:
prefeitos[prefeitos.NOME_MUNICIPIO == 'quissama' ]

      ANO  ID_ORIENTACAO NOME_MUNICIPIO SIGLA_PARTIDO
61   2004              6       quissama           PSC
152  2008              6       quissama           PSC
246  2012              5       quissama            PP
336  2016              4       quissama           PTN

#### Agora, irei repetir o processo para os dados dos vereadores.

In [3]:
vereadores = pd.read_json("results/vereadores.json")

In [4]:
vereadores = vereadores.drop(['CODIGO_CARGO'],axis=1)
vereadores.head()

    ANO  CONT  ID_ORIENTACAO  NOME_MUNICIPIO SIGLA_PARTIDO
0  2004     1              2  ANGRA DOS REIS       PC do B
1  2004     1              6  ANGRA DOS REIS           PFL
2  2004     2              5  ANGRA DOS REIS            PL
3  2004     2              4  ANGRA DOS REIS          PMDB
4  2004     1              5  ANGRA DOS REIS            PP

In [407]:
vereadores.size/4

3263.75

In [415]:
newJSON = {}
anos = [ str(ano) for ano in vereadores.ANO.unique().tolist() ]
for ano in anos:
     newJSON[str(ano)] = {}
newJSON

{'2004': {}, '2008': {}, '2012': {}, '2016': {}}

In [7]:
lstcidades = []
vereadores.NOME_MUNICIPIO = vereadores.NOME_MUNICIPIO.map(remover_acentos).map(str.lower)
lstcidades = vereadores.NOME_MUNICIPIO.unique().tolist()

cidades = dict(zip(list(range(3591,3683)),sorted(lstcidades)))

In [417]:
len(lstcidades)

92

Na célula abaixo, o campo CONT, oriundo do dataframe e do json original do banco de dados, possui o número de cadeiras conquistadas por cada partido na referida eleição, para cada município.

In [418]:
for ano in anos:
    newJSON[ano] = cidades.copy()
    for id_cidade in newJSON[ano]:
        for row in vereadores.itertuples():
            if( (str(row.ANO) == ano) and (row.NOME_MUNICIPIO.lower() == cidades[id_cidade] )):
                if type(newJSON[ano][id_cidade]) == str :
                    newJSON[ano][id_cidade] = {'NOME':cidades[id_cidade],
                                               'SIGLAS':{row.SIGLA_PARTIDO:{'N':row.CONT,
                                                                            'ORIENTACAO':row.ID_ORIENTACAO}}}
                else:
                    newJSON[ano][id_cidade]['SIGLAS'][row.SIGLA_PARTIDO] = {'N':row.CONT,'ORIENTACAO':row.ID_ORIENTACAO}

In [419]:
pd.DataFrame(newJSON).to_json("results/vereadores1.json",orient="columns")

Essa etapa foi realizada apenas para a breve visualização estática no dia da apresentação por ter conseguido terminar o script de geração dinâmica dos dados eleição para as câmaras municipais.

In [18]:
vereadores[(vereadores.ANO == 2016) & (vereadores.NOME_MUNICIPIO == 'rio de janeiro')].groupby(['ID_ORIENTACAO','ANO']).sum()

                    CONT
ID_ORIENTACAO ANO
1             2016     6
3             2016     9
4             2016    17
5             2016    15
6             2016     4