In [1]:
import os
import pandas as pd
import duckdb

In [2]:
DIRPATH = 'datasets/new_data/'
EXTRACT_CSV = 'datasets/new_data/csv/'

In [3]:
list_votacao_csv_files = [ f for f in os.listdir(os.path.join(DIRPATH, 'csv')) if f.endswith('.csv') ]

In [4]:
df_rj = pd.concat(
    (
    pd.read_csv(
        os.path.join(DIRPATH, 'csv', f), 
        encoding='iso-8859-1', 
        delimiter=';'
        ).dropna(axis=0, how='all') for f in list_votacao_csv_files
    ), 
    axis=0)

/tmp/ipykernel_41532/1481000387.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_rj = pd.concat(

In [6]:
df_rj.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,DS_SIT_TOT_TURNO,ST_VOTO_EM_TRANSITO,QT_VOTOS_NOMINAIS,TP_ABRANGENCIA_ELEICAO,NR_FEDERACAO,NM_FEDERACAO,SG_FEDERACAO,DS_COMPOSICAO_FEDERACAO,NM_TIPO_DESTINACAO_VOTOS,QT_VOTOS_NOMINAIS_VALIDOS
0,18/03/2022,14:59:58,2004,2,Eleição Ordinária,1,200412,ELEIÇÕES MUNICIPAIS DE 2004 - 1º TURNO,03/10/2004,M,...,ELEITO,N,23910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18/03/2022,14:59:58,2004,2,Eleição Ordinária,1,200412,ELEIÇÕES MUNICIPAIS DE 2004 - 1º TURNO,03/10/2004,M,...,NÃO ELEITO,N,7249,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18/03/2022,14:59:58,2004,2,Eleição Ordinária,1,200412,ELEIÇÕES MUNICIPAIS DE 2004 - 1º TURNO,03/10/2004,M,...,NÃO ELEITO,N,672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18/03/2022,14:59:58,2004,2,Eleição Ordinária,1,200412,ELEIÇÕES MUNICIPAIS DE 2004 - 1º TURNO,03/10/2004,M,...,ELEITO,N,702,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18/03/2022,14:59:58,2004,2,Eleição Ordinária,1,200412,ELEIÇÕES MUNICIPAIS DE 2004 - 1º TURNO,03/10/2004,M,...,SUPLENTE,N,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
query_voto_munzona = """ 
SELECT 
ANO_ELEICAO,
NM_MUNICIPIO,
SUM(QTD_VOTOS_NOMINAIS) AS n4
FROM df_rj
WHERE 1=1
    AND DS_CARGO = 'PREFEITO'
GROUP BY 1,2,3
ORDER BY 1 DESC, n5 DESC
"""

In [10]:
duckdb.query(query_voto_munzona).to_df()

BinderException: Binder Error: Referenced column "QTD_VOTOS_NOMINAIS" not found in FROM clause!
Candidate bindings: "df_rj.QT_VOTOS_NOMINAIS", "df_rj.QT_VOTOS_NOMINAIS_VALIDOS", "df_rj.NM_TIPO_DESTINACAO_VOTOS", "df_rj.ST_VOTO_EM_TRANSITO", "df_rj.SQ_CANDIDATO"