## Visualização Básica
### autor: Glauco Azevedo

Esse arquivo serve para complementar o notebook ** obtencao_selecao_dados **

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

%matplotlib inline

Pretendo apenas visualizar alguma consistência esperada de certas dimensões do problema, com informações demográficas, como o crescimento populacional e mudanças históricas da política do Brasil.

In [3]:
engine = create_engine('mysql+mysqlconnector://az_br:0000@glauco-s1:3306/')
conn = engine.connect()

In [4]:
%timeit
query = ("SELECT t1.ANO, upper(t1.DESCRICAO_CARGO) AS DESCRICAO_CARGO, t1.QTDE_VAGAS FROM eleicoes_vagas.vagas_rj t1 "
         "WHERE t1.NOME_UE = 'RIO DE JANEIRO' AND t1.CODIGO_CARGO <> '12';")

In [6]:
vagas = {}
vagas['RJ'] = pd.read_sql_query(query,con=conn)

In [7]:
vagas['RJ']

    ANO DESCRICAO_CARGO  QTDE_VAGAS
0  2000        PREFEITO           1
1  2000        VEREADOR          42
2  2004        PREFEITO           1
3  2004        VEREADOR          50
4  2008        PREFEITO           1
5  2008        VEREADOR          51
6  2012        PREFEITO           1
7  2012        VEREADOR          51
8  2016        PREFEITO           1
9  2016        VEREADOR          51